/.yarn/*
!/.yarn/releases
!/.yarn/releases/*
!/.yarn/plugins
!/.yarn/plugins/*
!/.yarn/patches
!/.yarn/patches/*
/yarn-debug.log*
/yarn-error.log*
/node_modules

/dist/

# VSCode editor settings
.vscode

.env
.gmrc
migrations/
